body {
    padding: 0px;
    background-image: url(https://wallpapers.com/images/featured/black-abstract-m8kr2hfvrwlt8j5g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding-top: 0 2px;
    font-weight: 600
}

.logo_nav {
    color: rosybrown;
    font-size: 2.0em;
}

.icono_login {
    font-size: 2em;
}

.navbar-nav li a:hover {
    border-bottom: 2px solid;
}

.bg-nav {
    background-color: #FFE078;
}